.ql-toolbar.ql-snow {
	border: 1px solid #dddbda;
	padding: 0.5rem 0.5rem 0.25rem 0.5rem;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	border-bottom: 1px solid #dddbda;
	background-color: #f3f2f2;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
	border-color: #dddbda;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.ql-editor {
	color: #706e6b;
	overflow-y: auto;
	min-height: 6rem;
	max-height: 15rem;
	padding: 1rem;
	border-radius: 0.25rem;
	background-color: white;
}

.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
	background: white;
	border: 1px solid #dddbda;
	color: #706e6b;
	width: 2rem;
	height: 2rem;
	padding: 0.47rem;
}

.ql-snow.ql-toolbar button + button, .ql-snow .ql-toolbar button + button {
	margin-left: -1px;
}

.ql-snow.ql-toolbar button:first-child, .ql-snow .ql-toolbar button:first-child {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.ql-snow.ql-toolbar button:last-child, .ql-snow .ql-toolbar button:last-child {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:active, .ql-snow .ql-toolbar button:active,
.ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus  {
	color: #005fb2;
}

.ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 3px #0070D2;
	box-shadow: 0 0 3px #0070D2;
}