<link href="{!URLFOR($Resource.grax, '/salesforce-lightning-design-system.min.css')}" rel="stylesheet" />

<script src="{!URLFOR($Resource.grax, '/thirdparty/jquery.slim.min.js')}"></script>

<script src="{!URLFOR($Resource.grax, '/jquery.sldsPillsCombobox.js')}"></script>




<div class="slds-scope">




<div class="slds-form-element" data-slds-combobox>
  <label class="slds-form-element__label" for="combobox-ids">Items</label>
  <div clas="slds-form-element__control">
    <div class="slds-combobox_container">
      <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
          <input id="selectedUsers" type="hidden" />
          <input type="text" class="slds-input slds-combobox__input" id="combobox-ids" aria-autocomplete="list" aria-controls="listbox-ids" autoComplete="off" role="textbox" placeholder="Search..." />
            <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#search')}"></use>
              </svg>
          </span>
        </div>
        <div id="listbox-ids" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
          <ul class="slds-listbox slds-listbox_vertical" role="presentation"></ul>
        </div>
      </div>
    </div>

    <div class="slds-listbox_selection-group" style="height: auto;">
      <ul id="selectedItemsPills" class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Items:" aria-orientation="horizontal"></ul>
    </div>

  </div>
</div>




</div>


<script>

$(function() {

  $(document)

  .on('click', function(e) { // Menus, Comboboxes
    var $target = $(e.target);
    var $triggers = $('.slds-dropdown-trigger_click');

    $triggers.not($target).removeClass('slds-is-open');

    var $trigger = $target.closest($triggers);

    $trigger.toggleClass('slds-is-open', true);
  });





window.accounts = [
	{
		id: 'GROUPED_OPTIONS_0',
		index: 'GROUPED_OPTIONS_0',
		label: 'CONTACT GROUPED'
	},
    {
        id: '1',
		index: 'Acme',
        label: 'Acme',
        subTitle: 'Account • San Francisco',
        type: 'contact',
    },
    {
        id: '2',
		index: 'Salesforce.com, Inc.',
        label: 'Salesforce.com, Inc.',
        subTitle: 'Account • San Francisco',
        type: 'contact',
    },
    {
        id: '3',
		index: "Paddy's Pub",
        label: "Paddy's Pub",
        subTitle: 'Account • Boston, MA',
        type: 'contact',
    },
    {
        id: '4',
		index: 'Tyrell Corp',
        label: 'Tyrell Corp',
        subTitle: 'Account • San Francisco, CA',
        type: 'contact',
    },
	{
		id: 'GROUPED_OPTIONS_1',
		index: 'GROUPED_OPTIONS_1',
		label: 'ACCOUNT GROUP'
	},
    {
        id: '6',
		index: 'Paper St. Soap Company',
        label: 'Paper St. Soap Company',
        subTitle: 'Account • Beloit, WI',
        type: 'account',
    },
    {
        id: '7',
		index: 'Nakatomi Investments',
        label: 'Nakatomi Investments',
        subTitle: 'Account • Chicago, IL',
        type: 'account',
    },
    { 
		id: '8', 
		index: 'Acme Landscaping',
		label: 'Acme Landscaping',
		subTitle: '\u00A0', 
		type: 'account' 
	},
    {
        id: '9',
		index: 'Acme Construction',
        label: 'Acme Construction',
        subTitle: 'Account • Grand Marais, MN',
        type: 'account',
    },
];




  $('#selectedUsers').sldsPillsCombobox({
      comboboxSelector: '#combobox-ids',
      listboxItemsSelector: '#listbox-ids',
      selectedItemsPillsSelector: '#selectedItemsPills',
      options: accounts
  }, function(setSelection, clearSelection) {
    window.setSelection = setSelection;
    window.clearSelection = clearSelection;
  }).on('change', function(e, selectedIds) {
  });


});

</script>
